<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/gallery/">Galeria</a></li>
        <li><a href="/faq/">Preguntas</a></li>
    </ul>

<!-- insertar codigo estatico dentro de un dibnamico -->
<!-- indica un seccion para eso le dara un nombre -->
{% block content %}{% endblock %}


</body>
<footer>
    <p>Este es el footer</p>
    <p>contacto</p>
    <p>instagram</p>
</footer>
</html>