{% extends 'core/base.html' %}
{% block content %}
    <h1>Bienvenido a mi Super web</h1>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio sapiente quisquam, ipsum adipisci voluptates eaque. Possimus tempore corporis facere sed commodi voluptatibus molestiae laborum tempora quaerat totam, dolorum deserunt!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut exercitationem voluptate veritatis delectus sed nihil nostrum repellat maiores molestiae? Est nostrum, molestias impedit tenetur accusantium sint itaque iure velit? Facere.
    </p>
{% endblock %}